# IDE LOCALS
.idea
.history
.vscode
wandb

# Temporare files
.venv
.pip
__pycache__
*.pickle
.ipynb_checkpoints

# Datasets
yelp_academic_dataset_business.json

#Flutter web bundle
*.flutter

# Sensitive info
.buildew
.private

.prebuild
