# IDE LOCALS
.idea
.history
.vscode
wandb

# Temporare files
.venv
.pip
__pycache__
*.pickle
.ipynb_checkpoints

# Datasets
yelp_academic_dataset_business.json

# Static web bundle
*.flutter
*.static

# Sensitive info
.buildew
.private

.prebuild

# CMake stuff
build

# Control web archive content
*.tar
