# Tensorflow framework
# tensorflow
# keras
# Torch framework
torch
pandas
numpy
pillow
wandb
h5py
opencv-python
scikit-learn
# JUPITER LAB
expectexception
# GOOGLE API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
