# FUTURES
futures
# GOOGLE API # TODO: REMOVE ALL GOOGLE API
oauth2client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
# AIOHTTP
aiohttp
# Cryptography (fro replacement google dependencies)
pycryptodome
# ROUTE 53 STUFF
boto3
